extends ../include/profile

block variables
  - var profile_education_active=true
  - var profile_active=true

block profile_content
  section(class="section")
    div(class="container")
      div(class="timeline")
        div(class="timeline-header")
          span(class="tag is-medium is-primary") 2016

        div(class="timeline-item")
          div(class="timeline-marker")
          div(class="timeline-content")
            p(class="heading") 2013-2016
            article(class="media")
              figure(class="media-left")
                p(class="image is-64x64")
                  img(src="/images/logo_tum.png")
              div(class="media-content")
                div(class="content")
                  p 
                    strong Master of Science 
                    small (M. Sc), TU Munich
                    br
                    | Automotive Software Engineering

        div(class="timeline-header")
          span(class="tag is-primary") 2013

        div(class="timeline-item")
          div(class="timeline-marker")
          div(class="timeline-content")
            p(class="heading") 2010-2013
            article(class="media")
              figure(class="media-left")
                p(class="image is-64x64")
                  img(src="/images/logo_fau.png")
              div(class="media-content")
                div(class="content")
                  p 
                    strong Bachelor of Science 
                    small (B. Sc), Friedrich Alexander University (FAU), Erlangen
                    br
                    | Mechatronics

          
        div(class="timeline-header")
          span(class="tag is-primary") 2009
        
        div(class="timeline-item")
          div(class="timeline-marker")
          div(class="timeline-content")
            p(class="heading") 2000-2009
            article(class="media")
              figure(class="media-left")
                p(class="image is-64x64")
                  img(src="/images/logo_ssg.png")
              div(class="media-content")
                div(class="content")
                  p 
                    strong Abitur
                    br 
                    | Qualification for university entrance
  
  
        div(class="timeline-header")
          span(class="tag is-medium is-primary") 2000

