extends ../include/profile

block variables
  - var profile_education_active=true
  - var profile_active=true

block profile_content
  section(class="section")
    div(class="container")
      div(class="timeline")
        div(class="timeline-header")
          span(class="tag is-medium is-primary") 2016

        div(class="timeline-item")
          div(class="timeline-marker")
          div(class="timeline-content")
            p(class="heading") 2013-2016
            article(class="media")
              figure(class="media-left")
                p(class="image is-64x64")
                  img(class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png")
              div(class="media-content")
                div(class="content")
                  p 
                    strong Master of Science 
                    small (M. Sc)
                    br
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis

        div(class="timeline-header")
          span(class="tag is-primary") 2013

        div(class="timeline-item")
          div(class="timeline-marker")
          div(class="timeline-content")
            p(class="heading") 2010-2013
            article(class="media")
              figure(class="media-left")
                p(class="image is-64x64")
                  img(class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png")
              div(class="media-content")
                div(class="content")
                  p 
                    strong Bachelor of Science 
                    small B. Sc
                    br
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis

          
        div(class="timeline-header")
          span(class="tag is-primary") 2009
        
        div(class="timeline-item")
          div(class="timeline-marker")
          div(class="timeline-content")
            p(class="heading") 2000-2009
            article(class="media")
              figure(class="media-left")
                p(class="image is-64x64")
                  img(class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png")
              div(class="media-content")
                div(class="content")
                  p 
                    strong Abitur
                    br 
                    | Qualification for university entrance
  
  
        div(class="timeline-header")
          span(class="tag is-medium is-primary") 2000

