extends layout

block variables
  - var about_active=true

block content

    section(class="hero")
        div(class="hero-body")
            div(class="container")
                h1(class="title") Hobbies
                div(class="lb is-success is-fun has-text-centered")
                    div(class="columns")
                        div(class="column is-one-third")
                            span(class="icon is-large has-text-danger")
                                i(class="fas fa-heartbeat fa-2x")
                                    span
                            p(class="title is-4") 
                                strong Sport
                            p(class="subtitle") Tennis, Fitness, Climbing
                        div(class="column is-one-third")
                            span(class="icon is-large has-text-primary")
                                i(class="fas fa-music fa-2x")
                            p(class="title is-4") 
                                strong Music
                            p(class="subtitle") E-Guitar, Western-Guitar
                        div(class="column is-one-third")
                            span(class="icon is-large has-text-warning")
                                i(class="fas fa-code fa-2x")
                            p(class="title is-4")
                                strong Programming
                            p(class="subtitle") Web, Microcontroller, Raspberry PI, AI

