extends layout

block variables
  - var home_active=true

block content
  section(class="hero is-fullheight")
    div(class="hero-body")
      div(class="container has-text-centered")
        h1(class="title is-size-1")
          p(data-text="Sebastian Schleemilch") Sebastian Schleemilch
        h2(class="subtitle") #Software