extends include/layout

block variables
  - var home_active=true

block content
  div(id="particles-js")
      canvas(class="particles-js-canvas-el" style="width: 100%; height: 100%")
      script(src="/javascripts/particles.min.js")
      script(src="/javascripts/particles.config.js")
  section(class="container")
    section(class="hero is-fullheight")
      div(class="hero-body")
        div(class="container has-text-centered")
          div(class="headshot" data-augmented-ui="tl-2-clip-x br-2-clip-x tr-clip bl-clip border")
          h1(class="is-size-3 has-text-weight-bold tw" id="tw_schleemilch") Sebastian Schleemilch
