extends layout

block variables
  - var home_active=true

block content
  section(class="container")
    section(class="hero is-fullheight")
      div(class="hero-body")
        div(class="container has-text-centered")
          div(class="headshot")
          h1(class="is-size-3 has-text-weight-semibold") I am
          h1(class="is-size-3 has-text-weight-semibold glitch" data-text="Sebastian Schleemilch") Sebastian Schleemilch