extends layout

block variables
  - var home_active=true

block content
  section(class="hero is-fullheight")
    div(class="hero-body")
      div(class="container has-text-centered")
        img(src="/images/profile.png" alt="Schleemilch_Sebastian_Picture" width="200" height="200")
        h1(class="title glitch" data-text="Sebastian Schleemilch") Sebastian Schleemilch
        h2(class="subtitle") #Software