extends layout

block content

  section(class="hero is-fullheight")
    div(class="hero-body")
      div(class="container has-text-centered")
        h1(class="title glitch is-size-1" data-text="Sebastian Schleemilch") Sebastian Schleemilch
        h2(class="subtitle") #Software