footer(class="footer")
  div(class="content has-text-centered")
    a(href="https://github.com/sschleemilch")
        span(class="icon is-large has-text-success")
            i(class="fab fa-github fa-2x")
    a(href="https://www.facebook.com/sebastian.schleemilch")
        span(class="icon is-large has-text-success")
            i(class="fab fa-facebook-square fa-2x")
    a(href="https://www.xing.com/profile/Sebastian_Schleemilch2?sc_o=mxb_p")
        span(class="icon is-large has-text-success")
            i(class="fab fa-xing-square fa-2x")
    a(href="https://www.linkedin.com/in/sschleemilch/")
        span(class="icon is-large has-text-success")
            i(class="fab fa-linkedin fa-2x")
    p(class="has-text-success") 2020
