header(class="header")
    ul(class="icon-menu")
        li(class="icon-box active has-text-centered")
            i(class="fas fa-home")
            a(href="")
                h2 Home
        li(class="icon-box")
            i(class="fas fa-user")
            a(href="")
                h2 Profile
            