header(class="header is-hidden-mobile is-hidden-tablet-only")
    ul(class="icon-menu")
        li(class="icon-box active")
            i(class="fas fa-home")
            a(href="")
                h2 Home
        li(class="icon-box")
            i(class="fas fa-user")
            a(href="")
                h2 About

div(id="navMobile" class="is-hidden-desktop is-hidden-widescreen is-hidden-fullhd")
    input(type="checkbox")
    span
    span
    span
    ul(class="list-unstyled" id="menu")
        li(class="active")
            a(href="")
                i(class="fas fa-home")
                span Home
        li
            a(href="")
                i(class="fas fa-user")
                span About