extends layout

block content
  section(class="hero is-dark")
    div(class="hero-body")
      div(class="container has-text-centered")
        div(class="headshot-small" data-augmented-ui="tl-2-clip-x br-2-clip-x tr-clip bl-clip border")
        h1(class="title")
          strong PROFILE
    div(class="hero-foot")
      div(class="container")
        nav(class="tabs is-boxed")
          ul
            li(class=profile_education_active ? "is-active" : "" data-augmented-ui="tl-clip tr-clip")
              a(href="education")
                span(class="icon is-small")
                    i(class="fa fa-graduation-cap")
                span Education
            li(class=profile_work_active ? "is-active" : "" data-augmented-ui="tl-clip tr-clip")
              a(href="work")
                span(class="icon is-small")
                    i(class="fa fa-briefcase")
                span Work
  block profile_content