.headshot
    flex-shrink: 0
    margin: 20px auto
    height: calc(200px + 6vw)
    width: calc(200px + 6vw)
    background-size: cover
    background-image: url("/images/sebastian.jpg")
    --aug-border-bg: #{$red}
    --aug-border-all: 5px
