.headshot
    flex-shrink: 0
    margin: 20px auto
    height: calc(200px + 6vw)
    width: calc(200px + 6vw)
    background-size: cover
    background-image: url("/images/sebastian.jpg")
    --aug-border-bg: #{$primary}
    --aug-border-all: 6px
.headshot-small
    flex-shrink: 0
    margin: 20px auto
    height: 200px
    width: 200px
    background-size: cover
    background-image: url("/images/sebastian.jpg")
    --aug-border-bg: #{$primary}
    --aug-border-all: 4px
