div.lb
	position: relative
	padding: 1.5rem
	margin-top: 2rem
	margin-bottom: 1rem

	--aug-border-all: 2px
	--aug-border-bg: #{$primary}
	--aug-inlay-bg: #{$grey-darker}
	--aug-inlay-all: 5px

	&:first-child
		margin-top: 2rem
	&:last-child
		margin-bottom: 1.5rem
	code
		color: inherit
		background-color: inherit
		margin: 0
		padding: 0
	pre
		margin: 0
		padding: 0
		background-color: inherit
		color: inherit

	&.augment-caption
		--aug-tl-extend2: 40%
		--aug-tr-extend1: 40%
		--aug-tr: 2em
		--aug-tl: 2em
