header
    position: fixed
    top: 100px
    left: 0
    display: flex
    align-items: center
    z-index: 99
    ul.icon-menu
        margin: 0
        padding-right: 1.25em
        --aug-border-left: 0px
        --aug-border-bg: #{$primary}
        --aug-border-right: 4px
        --aug-border-top: 4px
        --aug-border-bottom: 4px
        --aug-inlay-bg: #{$grey-darker}
        --aug-inlay-left: 0px
        --aug-tr-extend1: 40px
        --aug-br-extend2: 40px
        transition: .5s
        li.icon-box
            height: 50px
            list-style: none
            position: relative
            margin: 20px 0
            background-color: $grey
            transition: .5s
            --aug-tr: 10px
            --aug-br: 10px
            a
                display: flex
                align-items: center
                padding: 0
                height: 50px
            i
                color: $black-ter
                pointer-events: none
                left: 0
                right: 0
                text-align: center
                width: 50px
            h2
                width: 0em
                color: $black-ter
                transition: .5s
                line-height: 50px
                font-weight: 500
                text-transform: uppercase
                height: 50px
                margin: 0
                position: relative
                text-indent: .25em

        li.icon-box.active
            background-color: $primary
            a
                h2
                    background-color: $primary
        li.icon-box:hover
            background-color: $primary

    ul.icon-menu:hover
        li.icon-box
            a
                h2
                    width: 6.5em

