$footer-background-color: $grey-darker !default
$footer-color: false !default
$footer-padding: 0 0 0 !default

.footer
  padding: $footer-padding
  @if $footer-color
    color: $footer-color
  position: fixed
  background-color: $footer-background-color
  left: 0
  bottom: 0
  width: 100%
  .icon
    &:hover
        transform: scale(1.1)
