extends ../include/projects

block variables
  - var projects_overview_active=true
  - var projects_active=true

block projects_content
  div(class="section")
    div(class="container")
      div(class="content has-text-centered")
        div(class="lb is-primary" data-augmented-ui="tl-2-clip-x tr-2-clip-x br-clip bl-clip both")
          h1(class="in-augment") Overview
          div(class="columns")
            a(class="column" href="/projects/gitbash")
              img(src="/images/git_128x128.png" alt="Git", width="42", height="42")
              p(class="title is-4")
                strong Git Bash
              p(class="subtitle") A custom Git Bash Prompt
    